$Box_pads: (
    xs: $space_xs,
    sm: $space_sm,
    md: $space_md,
    lg: $space_lg,
    xl: $space_xl,
) !default;

$Box_elevations: (
    0: (
        background: transparent,
        color: inherit,
        borderColor: $color-black,
        boxShadow: none,
    ),
    1: (
        background: $color-neutral-darker,
        color: $color-white,
        borderColor: $color-black,
        boxShadow: $shadow-sm,
    ),
    2: (
        background: lighten($color-neutral-darker, 5%),
        color: $color-white,
        borderColor: $color-neutral-darker,
        boxShadow: $shadow-md,
    ),
    3: (
        background: $color-neutral-dark,
        color: $color-white,
        borderColor: $color-neutral-dark,
        boxShadow: $shadow-lg,
    ),
) !default;

$Box_padding: 0 !default;
$Box_color: map-get($Box_elevations, 0, color) !default;
$Box_background: map-get($Box_elevations, 0, background) !default;
$Box_borderColor: map-get($Box_elevations, 0, borderColor) !default;
$Box_boxShadow: map-get($Box_elevations, 0, boxShadow) !default;
$Box_borderRadius: 0 !default;
$Box--outlined_borderWidth: $border-sm !default;