{
    "printWidth": 100,
    "tabWidth": 2,
    "bracketSpacing": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": [
                "*.json",
                "*.jsonc",
                ".babelrc",
                ".prettierrc"
            ],
            "options": {
                "parser": "json"
            }
        }
    ]
}